.button{
    border:none;
    background-color: var(--primary);
    color:var(--text-over-primary);
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 24rem;
    padding: 0.6rem;
    border-radius: 15px;
    margin: 3.2rem 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button svg{
    width: 3.0rem;
    height: 3.0em;
}

.button:hover{
    filter:brightness(50%)
}

.green{
    background-color: var(--primary);
    color: var(--text-over-primary);
}

.red{
    background-color: var(--error);
    color: var(--text-over-error);
}

